@import url(../Misc/font.css);
:root{
    --box_fname : blue;
    --box_uname : blue;
    --box_email : blue;
    --box_phone : blue;
}
*{
    color: #fff;
}
.highlight{
font-family: Roboto;
color:#72DB73;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 141.7%; /* 25.506px */
letter-spacing: 0.36px;
}
.main_body{
    height: 100vh;
    background-color: black;
    border: 2px solid white;
    background-image: url(../../Drawables/bg.png);
    background-repeat: no-repeat;
    background-size: 40% 100vh; 
    display: flex;
    justify-content: space-between;
    align-items: center;  
}
.form_body{
    display: flex;
    justify-content: center;
    border: 2px solid yellow;
    height: inherit;
}

/*Left Body*/
.form_body.left{
    width: 40%;
    align-items: flex-end;
    
}
#quote{
    text-align: start;
width: 695px;
height: 143px;
color: #FFF;
font-family: Roboto;
font-size: 3em;
font-style: normal;
font-weight: 900;
line-height: 141.688%; /* 77.928px */
letter-spacing: 1.1px;
}

/*Right Body*/
.form_body.right{
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    flex-basis: auto;
    width: 60%;
}
.subform{
    border: 2px solid pink;
    height: auto;
    width: 518px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}
#logo{
color: #72DB73;
font-family: Single Day;
font-size: 67px;
font-style: normal;
font-weight: 400;
margin: 0%;
}
.mmo{
    border: 2px solid mediumorchid;
}

.input-control{
    display: flex;
    flex-direction: column;
    margin: 1em;
}
.input-control.check{
    display: flex;
    flex-direction: row;
    
}
/*Input box======================>*/
.subform.two input[type="text"]{
    margin-bottom: 1%;
    width: inherit;
    height: 64.869px;
    flex-shrink: 0;
    
    border-radius: 3.816px;
    background: #292929;
    padding-left: 5% ;
    font-family: DM Sans;

}
/*Input box======================>*/
#name:focus {
    color: var(--box_fname);
    border: 1px solid var(--box_fname);
    outline: 1px;
}
#uname:focus {
    color: var(--box_uname);
    border: 1px solid var(--box_uname);
    outline: 1px;
  }
#email:focus {
    color: var(--box_email);
    border: 1px solid var(--box_email);
    outline: 1px;
  }
#mobile:focus {
    color: var(--box_phone);
    border: 1px solid var(--box_phone);
    outline: 1px;
  }
/*&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&*/
button{
    border-radius: 28px;
    background: #72DB73;
    width: inherit;
    height: 55px;
    flex-shrink: 0;
    cursor: pointer;
}
/*color coding of the errors */
.Errormsg {
    display: block;
    color: red;
    width: inherit;
    margin-top: 4px;
  }
  .Errormsg.hidden {
    display: none;
  }
  
  label {
    padding-left: 5px;
    text-align: start;
    float: left;
    width: 144px;
    height: 9px;
    color: #404040;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: "Space Grotesk", sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.86px;
  }